
*.db
*.ipch
*.log
*.recipe
projects/genimage/output.png
projects/genimage/floppy.png
*.vsidx
*.vsidx
*.vsidx
*.vsidx
projects/.vs/projects/v17/.suo
projects/.vs/projects/v17/.suo
projects/.vs/projects/FileContentIndex/32dbd669-4ed6-4bde-aa57-01e474077556.vsidx
*.vsidx
projects/.vs/projects/FileContentIndex/36f2bf2c-e10a-4d89-b846-fe001faa18c2.vsidx
